.sign-up {
  width: 100%;
  max-width: 40rem;

  & h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  & label {
    margin-bottom: 0.5rem;
  }

  & input {
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline-color: var(--theme-color);
    margin-bottom: 2rem;

    &[type='submit'] {
      background-color: var(--theme-color);
      color: white;
      font-weight: 500;
      border: none;
    }
  }

  & p {
    text-align: center;
  }
}
